*{
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    margin-bottom: 10px;
}
.inner-header{
    background-color: rgb(156, 32, 100);
    min-height: 80px;
    padding-top: 30px;
    padding-left: 40px;
}
.row:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.row{
    display: inline-block;
}
* html .row { height: 1%; }
.row { display: block; }
.menu{
    margin-bottom: 10px;
}
.inner-menu{
    background-color: rgb(128, 29, 83);
    min-height: 60px;
    padding-top: 20px;
    padding-left: 40px;
}
.aside-1{
    float: left;
    margin-bottom: 10px;
    width: 100%;
    padding-right: 10px;
    position: relative;
    padding-right: 10px;
}
.inner-sidebar-1{
    background-color: rgb(230, 98, 170);
    min-height: 80px;
    padding-top: 20px;
    padding-left: 40px;
}
.left-aside{
    display: inline-block;
    float: left;
    width: 24%;
}
.aside-2{
    position: relative;
    width: 100%;
    float: left;
    padding-right: 10px;
}
.inner-sidebar-2{
    background-color: rgb(230, 98, 170);
    min-height: 120px;
    padding-top: 20px;
    padding-left: 40px;
}
.main{
    width: 66%;
    float: left;
}
.inner-main{
    background-color: rgb(230, 98, 170);
    min-height: 250px;
    padding: 30px;
    margin-bottom: 10px;
}
.allsec{
    margin-top: 10px;
}
.section-1{
    width: 60%;
    float: left;
}
.inner-section-1{
    background-color: rgb(238, 155, 201);
    min-height: 80px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 30px;
}
.section-2{
    width: 60%;
    float: left;
}
.inner-section-2{
    background-color: rgb(238, 155, 201);
    height: 80px;
    padding-top: 20px;
    padding-left: 30px;
}
.aside-3{
    display: inline-block;
    width: 9%;
    padding-left: 10px;
}
.inner-aside-3{
    background-color: rgb(230, 98, 170);
    min-height: 180px;
    text-orientation: upright;
    text-align: center;
    padding-top: 20px;
}    
.footer{
    background-color: rgb(128, 29, 83);
    min-height: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.ver{
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-left: 10px;
}